:root {
    /*Colors*/
    --bg-color: ;
    --acc-color: ;
    --text-color: ;
    /*Fonts*/
    --titles: ;
    --links: ;
    --clock: 'Silkscreen', cursive;
    /*sizes*/
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* outline: solid 1px red; */
}


html {
    font-size: 62.5%;
}

body {
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a {
    text-decoration: none;
}


ul {
    list-style: none;
}