:root {
    /*Colors*/
    --background: #0f0e17;
    --main: #fffffe;
    --highlight: #ff8906;
    --secondary: #f25f4c;
    --tertiary: #e53170;
    --paragraph: #a7a9be;
    /*Fonts*/
    --titles: 'Kanit', sans-serif ;
    --links: 'Kanit', sans-serif ;
    --clock: 'Silkscreen', cursive;
    /*sizes*/
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* outline: solid 1px red; */
}


html {
    font-size: 62.5%;
}

body {
    background-color: var(--background);
}

a {
    text-decoration: none;
}


ul {
    list-style: none;
}