/* div {
    background-color: azure;
} */

main {
    outline: 1px solid #8301e2;
    border-radius: 10px;
    box-shadow: rgba(247, 0, 255, 0.35) 0px 5px 15px;
}


.DisplayClock {
    font-family: var(--clock);
    font-size: 4rem;
    color: white;
    text-shadow: 1px 1px 0px var(--background),
                 2px 2px 0px var(--secondary),
                 3px 3px 0px var(--tertiary);
    /* text-shadow: 1px 1px 0px red,
                 2px 2px 0px orange,
                 3px 3px 0px yellow,
                 4px 4px 0px green,
                 5px 5px 0px blue,
                 6px 6px 0px purple; */
}


.side-img {
    box-shadow: var(--secondary) 0px 5px 15px;
    background-image: url(/img/WhatsApp-Video-2022-08-12-at-12.14.47-PM.gif);
    background-position: center;
    background-position: no-repeat;
    background-size: cover;
    border: 3px solid var(--secondary);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}



.search-input {
    padding-left: 20px;
    outline: none;
    border: none;
    font-family: var(--titles);
    box-shadow: var(--secondary) 0px 2px 15px;
    border:  3px solid var(--secondary);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: var(--background);
    color: gray;
}


.search-icon {
    font-size: 2rem;
    color: white;
    text-shadow: 1px 1px  var(--secondary);
}


.phrase {
    text-align: center;
    font-family: var(--titles);
    font-weight: 300;
    color: white;
}


.link-container {
    font-family: var(--titles);
    box-shadow: var(--tertiary)  0px 5px 15px;
    border: solid 3px var(--tertiary);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: var(--background);
}


.link-title {
    font-weight: 300;
    font-size: 1.8rem;
    text-align: center;
    color: var(--highlight);
}

.link-list a {
    font-size: 1.7rem;
    font-weight: 300;
    color: var(--paragraph);
    transition: 500ms ease-in-out;
    -webkit-transition: 500ms ease-in-out;
    -moz-transition: 500ms ease-in-out;
    -ms-transition: 500ms ease-in-out;
    -o-transition: 500ms ease-in-out;
}


.link-list a:hover {
    color: var(--highlight);
}