/* div {
    background-color: azure;
} */


.DisplayClock {
    font-family: var(--clock);
    font-size: 4rem;
    color: white;
    text-shadow: 1px 1px 0px red,
                 2px 2px 0px orange,
                 3px 3px 0px yellow,
                 4px 4px 0px green,
                 5px 5px 0px blue,
                 6px 6px 0px purple;
}


.side-img {
    background-image: url(/img/índice.png);
    background-position: center;
    background-position: no-repeat;
    background-size: cover;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}


.search-input {
    padding-left: 20px;
    outline: none;
    border: none;
    font-family: var(--titles);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: gray;
}


.search-icon {
    font-size: 2rem;
    color: white;
}


.phrase-container {
    font-family: var(--titles);
    color: white;
}


.link-container {
    border-radius: 10px;
    font-family: var(--titles);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


.link-title {
    text-align: center;
    font-size: 1.8rem;
}

.link-list a {
    font-size: 1.7rem;
}
